/*APARTMENTS-LIST*/
.apartments-list{
    display:flex;
    gap:2rem;
    margin-bottom:4rem;
}


.apartments-list > div{

background-color: #f2f2f2;
padding: 1rem;
border-radius: 1rem;
}

.apartments-list .city{
    flex-basis:66%;
}

.apartments-list .city a{
    font-weight:bold;
}

.apartments-list .popular{
    flex-basis:33%;
}



@media (max-width:1200px) {
    .apartments-list{
        flex-direction: column;
        font-size: 80%;
    }
    .popular{
        order: -1;
    }
    
}

/*LIST-APARTMENTS-CITY*/

.city-apartments-list{
    display:flex;
    flex-wrap:wrap;
    gap:2rem;
    padding: 2rem;
    justify-content:space-around;
    margin-bottom:1rem;
}
